.alignUser{
    left : 5%;
}

.centerAlign{
    text-align: center;
}

.updateButton{
    background-color: blue;
    width: 8%;
    height: 45px;
    border: none;
    border-radius: 6px;
}

.removeButton{
    background-color: red;
    margin-left: 2%;
    width: 8%;
    height: 45px;
    border: none;
    border-radius: 6px;
}

.marginTop{
    margin-top: 2%
}

.blackBackGround{
    background-color : black;
}

.whiteFont{
    color: white;
}

.rightAlign {
    float: right;
}